{% extends 'layouts/application.html' %}

{% block title %}
  {{ site_title }}
{% endblock %}

{% block content %}
  <main class="page-main">

    <section class="page-section">
      <div class="constrain">
        <h1>Hi there! 😄</h1>
        <p>
          My name is Liam Walsh and I'm a front end web developer from Manchester, UK. I currently work for The Fragrance Shop as a Front End Developer and I love to build mobile-first, responsive sites.
        </p>
        <p>
          HTML, CSS and Javascript are my bread and butter but I also have plenty of experience using Javascript frameworks (jQuery, Angular, React, Vue etc), SASS/SCSS, Gulp, Webpack. I also have back-end skills mainly in PHP and soft skills like Agile practice and leadership skills. For a full list of my skillset please see <a href="cv.pdf">my CV</a>.
        </p>
        <p>
          I love dabbling in new technologies of all kinds and I'm currently teaching myself Three.js and 3D modelling along with Websocket and usage with Firebase.
        </p>
        <p>
          If you'd like to get in touch feel free to <a href="mailto:{{ email }}">email me</a>, <a href="{{ twitter }}">tweet me</a> or <a href="{{ linkedin }}">connect with me on LinkedIn</a>. To see more of my work keep on scrolling 👍 ⤵️
        </p>
      </div>
    </section>

    <section class="page-section page-section--bg-inverted">
      <div class="constrain">
        <h2>Things I've worked on</h2>
        <p>
          Here is a list of websites I'm proud to have worked on during my career. The capacity of my involvement in these projects range from doing maintenance work to lead developer/architect.
        </p>

        <ul class="work-list">
          <li class="work-list__item">
            <div class="work-list__info">
              <h3 class="work-list__title">
                <a href="https://screen.eventstreamlive.com/prolific-north-live">EventStreamLive - Screen</a>
              </h3>
              <small>Innovation project, worked as lead developer/architect</small>
            </div>
            <a class="work-list__link" href="https://screen.eventstreamlive.com/prolific-north-live">
              <picture class="work-list__picture">
                <source srcset="images/work/eventstreamlive-screen--large.png" media="(min-width: 992px)">
                <source srcset="images/work/eventstreamlive-screen--medium.png" media="(min-width: 768px)">
                <img class="work-list__image" src="images/work/eventstreamlive-screen--small.png" alt="EventStreamLive Screen" />
              </picture>
            </a>
          </li>

          <li class="work-list__item">
            <div class="work-list__info">
              <h3 class="work-list__title">
                <a href="http://www.eventstreamlive.com/">EventStreamLive</a>
              </h3>
              <small>Worked as lead developer</small>
            </div>
            <a class="work-list__link" href="http://www.eventstreamlive.com/">
              <picture class="work-list__picture">
                <source srcset="images/work/eventstreamlive--large.png" media="(min-width: 992px)">
                <source srcset="images/work/eventstreamlive--medium.png" media="(min-width: 768px)">
                <img class="work-list__image" src="images/work/eventstreamlive--small.png" alt="EventStreamLive" />
              </picture>
            </a>
          </li>

          <li class="work-list__item">
            <div class="work-list__info">
              <h3 class="work-list__title">
                <a href="http://www.thebookseller.com/">The Bookseller</a>
              </h3>
              <small>Worked as front end developer</small>
            </div>
            <a class="work-list__link" href="http://www.thebookseller.com/">
              <picture class="work-list__picture">
                <source srcset="images/work/the-bookseller--large.png" media="(min-width: 992px)">
                <source srcset="images/work/the-bookseller--medium.png" media="(min-width: 768px)">
                <img class="work-list__image" src="images/work/the-bookseller--small.png" alt="The Bookseller" />
              </picture>
            </a>
          </li>

          <li class="work-list__item">
            <div class="work-list__info">
              <h3 class="work-list__title">
                <a href="http://www.clearchanneldirect.co.uk/">ClearChannelDirect</a>
              </h3>
              <small>Worked as front end developer</small>
            </div>
            <a class="work-list__link" href="http://www.clearchanneldirect.co.uk/">
              <picture class="work-list__picture">
                <source srcset="images/work/clearchanneldirect--large.png" media="(min-width: 992px)">
                <source srcset="images/work/clearchanneldirect--medium.png" media="(min-width: 768px)">
                <img class="work-list__image" src="images/work/clearchanneldirect--small.png" alt="ClearChannelDirect" />
              </picture>
            </a>
          </li>

          <li class="work-list__item">
            <div class="work-list__info">
              <h3 class="work-list__title">
                <a href="http://guru.bafta.org/">BAFTA Guru</a>
              </h3>
              <small>Worked as front end developer</small>
            </div>
            <a class="work-list__link" href="http://guru.bafta.org/">
              <picture class="work-list__picture">
                <source srcset="images/work/bafta-guru--large.png" media="(min-width: 992px)">
                <source srcset="images/work/bafta-guru--medium.png" media="(min-width: 768px)">
                <img class="work-list__image" src="images/work/bafta-guru--small.png" alt="BAFTA Guru" />
              </picture>
            </a>
          </li>

          <li class="work-list__item">
            <div class="work-list__info">
              <h3 class="work-list__title">
                <a href="http://liamandgemma.co.uk/">Liam and Gemma</a>
              </h3>
              <small>Personal project</small>
            </div>
            <a class="work-list__link" href="http://liamandgemma.co.uk/">
              <picture class="work-list__picture">
                <source srcset="images/work/liam-and-gemma--large.png" media="(min-width: 992px)">
                <source srcset="images/work/liam-and-gemma--medium.png" media="(min-width: 768px)">
                <img class="work-list__image" src="images/work/liam-and-gemma--small.png" alt="Liam and Gemma" />
              </picture>
            </a>
          </li>
        </ul>
      </div>
    </section>

    {# <section>
      <div class="constrain">
        <h2>Things of my own</h2>
        <p>

        </p>
      </div>
    </section> #}

    <section class="page-section">
      <div class="constrain">
        <h2>I like to write from time to time</h2>
        <p>

        </p>
        <ul>
          <li>
            <a href="http://www.accessadvertising.co.uk/blog/series/liams-websites-month">LWOTM Series (Liam's Website of the Month)</a>
            <small>June 2016 - December 2016</small>
          </li>
          <li>
            <a href="http://www.accessadvertising.co.uk/blog/2015/01/top-ten-web-topics-2015">Top Ten Web Topics for 2015</a>
            <small>January 2015</small>
          </li>
          <li>
            <a href="http://www.accessadvertising.co.uk/blog/2014/11/triforce-front-end-development">The Triforce of Front End Development</a>
            <small>November 2014</small>
          </li>
        </ul>
      </div>
    </section>

    <section class="page-section page-section--bg-inverted">
      <div class="constrain">
        <h2>That's all folks!</h2>
        <p>
          Please feel free to get in touch with me using any of the places below for work opportunities, consultation, because you love bears too and want to share that with a like minded soul or you want to a ramble about badminton 😄 👍
        </p>
        <ul>
          <li>
            <a href="mailto:{{ email }}">
              Email
            </a>
          </li>
          <li>
            <a href="mailto:{{ linkedin }}">
              LinkedIn
            </a>
          </li>
          <li>
            <a href="mailto:{{ twitter }}">
              Twitter
            </a>
          </li>
          <li>
            <a href="mailto:{{ github }}">
              Github
            </a>
          </li>
        </ul>
      </div>
    </section>

  </main>
{% endblock %}
