<div class="body-section content-main">
	<div class="constrain">
		<div class="row box-push-down">
			<a class="span-3-3 button icon-link" href="{{ work_url }}" title="{{ work_url }}" target="_blank">Visit Website</a>
		</div>
		<div class="constrain-content">
			{{ content }}
			<a href="{{ work_url }}" title="{{ work_url }}" target="_blank">
				<img class="image-fill image-frame" src="{{ transform src="{work_image}" action="smart" height="300" width="500" }}" alt="{{ title }}" />
			</a>
		</div>
	</div>
</div>

{{ theme:partial src="pagination-simple" }}