<div class="body-section content-main">
	<div class="constrain row">
		<div class="span-2-3 gutter">
			{{ content }}
		</div>
		<div class="span-1-3">
			<h3>Work Details</h3>
			<figure class="work-image">
				{{ if work_url }}
					<a href="{{ work_url }}" title="{{ work_url }}" target="_blank">
						<img class="image-fill" src="{{ transform src="{work_image}" action="smart" height="300" width="500" }}" alt="{{ title }}" />
					</a>
					<figcaption class="work-caption"><a href="{{ work_url }}" title="{{ work_url }}" target="_blank">Site Link &rarr;</a></figcaption>
				{{ else }}
					<img class="image-fill" src="{{ transform src="{work_image}" action="smart" height="200" width="500" }}" alt="{{ title }}" />
				{{ endif }}
			</figure>
			{{ if skills }}
				<ul class="list-tags">
					{{ skills }}
					<li class="tag">{{ name }}</li>
					{{ /skills }}
				</ul>
			{{ endif }}
		</div>
	</div>
</div>

{{# <div class="constrain box box-padded box-push">
	<figure class="work-image">
		{{ if work_url }}
			<a href="{{ work_url }}" target="_blank">
				<img class="image-fill" src="{{ transform src="{work_image}" action="smart" height="200" width="500" }}" alt="{{ title }}" />
			</a>
			<figcaption class="work-caption">Site link: {{ work_url }}</figcaption>
		{{ else }}
			<img class="image-fill" src="{{ transform src="{work_image}" action="smart" height="200" width="500" }}" alt="{{ title }}" />
		{{ endif }}
	</figure>
	{{ if skills }}
		<ul class="work-skills list-tags">
			{{ skills }}
			<li class="skill tag">{{ name }}</li>
			{{ /skills }}
		</ul>
	{{ endif }}
</div> #}}

{{ theme:partial src="pagination-simple" }}