---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<header class="px-5 md:px-10 lg:px-14 py-9 md:py-14 lg:py-16 text-white text-center">
  <div class="container">
    <h1 class="mb-5 md:mb-6 lg:mb-7 text-3xl md:text-4xl lg:text-5xl text-phthalo-green font-semibold">Hello there! 👋
      <br/> The only thing you need to know about me right now is below 👇</h1>
    <a
      class="inline-block border-none rounded-lg py-3 md:py-5 px-5 md:px-7 bg-bittersweet-shimmer text-xl md:text-2xl
        lg:text-3xl"
      href="https://www.justgiving.com/page/liam-walsh-1705534576516">Save lives 🦸‍♂️🦸‍♀️<a/>
    </div>
  </header>
  <article class="px-5 md:px-10 lg:px-14 py-9 md:py-14 lg:py-16 bg-gradient-to-b from-phthalo-green to-hunter-green text-white">
    <div class="container">
      <section class="mb-10">
        <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold mb-5">Haven't followed the link? Here's the deal 👨‍🏫</h2>
        <p class="text-md md:text-lg lg:text-xl mb-4">Late last year I lost my Grandad.
        </p>
        <p class="text-md md:text-lg lg:text-xl mb-4">My Grandad had been diagnosed with Alzheimer's Disease nearly three years
          before he passed away. Along with other issues it robbed him of his independence and my Grandma. She was diagnosed with
          Vascular Dementia due to a number of mini-strokes she and the family didn’t know about. She’s still with us but their
          conditions separated them.</p>
        <p class="text-md md:text-lg lg:text-xl mb-4">
          I took up the challenge last year to run the Manchester Half Marathon with inspiration from my uncle. I conquered that
          in October last year. Immediately after I was emailed registration sign ups for the marathon in April 2024. I saw this
          as another challenge to push myself and to make one last big fundraising effort for another great charity doing some of
          the most meaningful work there is to be done.</p>
        <p class="text-md md:text-lg lg:text-xl mb-4">
          I’m running for Alzheimer’s Society and for the past, present and future memories of my Grandad and Grandma.</p>
        <p class="text-md md:text-lg lg:text-xl mb-4">
          I think about them every single time I put my shoes on. I think about how much better I should be, how much harder I
          should work, how much more I should give. They were the most generous people I’ve ever met.</p>
        <p class="text-md md:text-lg lg:text-xl mb-4">
          This motivation keeps me going, keeps me pushing. It’s not all altruistic and selfless. I get a lot of pride from
          conquering challenges, but remembering and knowing them is what keeps me from quitting or taking the easy option.
        </p>
      </section>
      <section class="mb-10">
        <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold mb-5"></h2>
        <p class="text-md md:text-lg lg:text-xl mb-4"></p>
      </section>
      <section class="mb-10">
        <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold mb-5"></h2>
        <p class="text-md md:text-lg lg:text-xl mb-4"></p>
      </section>
      <section>
        <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold mb-5">Thanks in advance! 🙏</h2>
        <p class="text-md md:text-lg lg:text-xl mb-4">I'd like to thank everyone who sees this and takes the time to read. If
          this time spent only amounts to raising awareness to such a cause then that is still good in my eyes.</p>
        <p class="text-md md:text-lg lg:text-xl">To all those who do donate, thank you so much, every penny counts for these
          amazing services.</p>
      </section>
    </div>
  </article>
