{{ if include_title }}
	{{ get_content from="blog" }}
		<h2 class="section-header breaker">
			<span class="constrain">{{ title }}</span>
		</h2>
	{{ /get_content }}
{{ endif }}
{{ get_content from="blog" }}
	<div class="row constrain body-section">
		<section class="span-2-3 gutter blog-list list-article">
			{{ entries:listing folder="{url}" limit="{blog_limit}" taxonomy="{taxonomy_slug}" }}
				{{ if total_results }}
					<article class="blog-post list-item box box-padded">
						<time datetime="{{ datestamp|format:Y-m-d }}">{{ date }}</time>
						<h3><a href="{{ url }}">{{ title }}</a></h3>
						<div class="post-excerpt">
							{{ excerpt }}
							<a href="{{ url }}">Read more &rarr;</a>
						</div>
						{{ if categories }}
							<ul class="list-tags">
							{{ categories }}
								<li class="tag">{{ name }}</li>
							{{ /categories }}
							</ul>
						{{ endif }}
					</article>
				{{ else }}
					<article class="blog-post list-item box box-padded">
						<h3>No Blog Posts Found</h3>
					</article>
				{{ endif }}
			{{ /entries:listing }}
		</section>
		<aside class="span-1-3 blog-aside box box-padded box-aside">
			<h4>Categories</h4>
			{{ taxonomy:listing folder="{url}" type="categories" sort_by="name" sort_dir="asc" }}
				{{ if total_results }}
					{{ if first }}
						<ul class="unstyled list-inline">
					{{ endif }}
						<li><a href="{{ url }}">{{ name }}</a></li>
					{{ if last }}
						</ul>
					{{ endif }}
				{{ else }}
					<p>No categories found</p>
				{{ endif }}
			{{ /taxonomy:listing }}
		</aside>
	</div>
{{ /get_content }}