{{ if include_title }}
	{{ get_content from="blog" }}
		<h2 class="section-header breaker">
			<span class="constrain">{{ title }}</span>
		</h2>
	{{ /get_content }}
{{ endif }}
{{ get_content from="blog" }}
	<div class="constrain body-section">
		<section class="blog-list list-article">
			{{ entries:listing folder="{url}" limit="{blog_limit}" taxonomy="{taxonomy_slug}" }}
				{{ if first }}
					<article class="row blog-post blog-post-featured list-item">
						<div class="box constrain-content">
							<time datetime="{{ datestamp|format:Y-m-d }}">{{ date }}</time>
							<h3><a href="{{ url }}">{{ title }}</a></h3>
							<div class="post-excerpt">
								{{ excerpt }}
								<a href="{{ url }}">Read more &rarr;</a>
							</div>
						</div>
					</article>
				{{ else }}
					<article class="blog-post list-item">
						<time datetime="{{ datestamp|format:Y-m-d }}">{{ date }}</time>
						<h3><a href="{{ url }}">{{ title }}</a></h3>
					</article>
				{{ endif }}
			{{ /entries:listing }}
		</section>
	</div>
{{ /get_content }}