{{ if include_title }}
	{{ get_content from="humble-tributes" }}
		<h2 class="section-header breaker">
			<span class="constrain">{{ title }}</span>
		</h2>
	{{ /get_content }}
{{ endif }}
{{ entries:listing folder="humble-tributes" limit="{tributes_limit}" }}
	{{ if first }}
		<div class="row">
			<ul class="unstyled list-work">
			{{ endif }}
				<li class="work-item" href="{{ url }}">
					<a href="{{ url }}">
						<img class="work-image" src="{{ transform src="{{ page_image }}" action="smart" height="300" width="600" }}" alt="{{ title }}">
						<h3 class="work-title h4">{{ title }}</h3>
					</a>
				</li>
			{{ if last }}
			</ul>
		</div>
	{{ endif }}
{{ /entries:listing }}