<footer class="page-footer box-padded">
	{{ if email_address }}
	<p>
		Please feel free to contact me by <a class="link-invert" href="mailto:{{ email_address }}">email</a> or find at any of these places!
	</p>
	{{ endif }}
	<ul class="list-social unstyled">
		{{ if link_github }}
		<li class="social-item">
			<a class="social-link link-invert" href="{{ link_github }}">GitHub</a>
		</li>
		{{ endif }}
		{{ if link_facebook }}
		<li class="social-item">
			<a class="social-link link-invert" href="{{ link_facebook }}">Facebook</a>
		</li>
		{{ endif }}
		{{ if link_twitter }}
		<li class="social-item">
			<a class="social-link link-invert" href="{{ link_twitter }}">Twitter</a>
		</li>
		{{ endif }}
		{{ if link_google }}
		<li class="social-item">
			<a class="social-link link-invert" href="{{ link_google }}">Google Plus</a>
		</li>
		{{ endif }}
	</ul>
</footer>