<footer class="page-footer box-padded">
	{{ if email_address }}
	<p>
		Please feel free to contact me by <a class="link-invert" href="mailto:{{ email_address }}">email</a> or find at any of these places!
	</p>
	{{ endif }}
	<ul class="list-social unstyled">
		{{ if link_github }}
		<li class="social-item">
			<a class="social-link link-invert icon-github" href="{{ link_github }}"><span class="text-hidden">GitHub</span></a>
		</li>
		{{ endif }}
		{{ if link_facebook }}
		<li class="social-item">
			<a class="social-link link-invert icon-facebook" href="{{ link_facebook }}"><span class="text-hidden">Facebook</span></a>
		</li>
		{{ endif }}
		{{ if link_twitter }}
		<li class="social-item">
			<a class="social-link link-invert icon-twitter" href="{{ link_twitter }}"><span class="text-hidden">Twitter</span></a>
		</li>
		{{ endif }}
		{{ if link_google }}
		<li class="social-item">
			<a class="social-link link-invert icon-gplus" href="{{ link_google }}"><span class="text-hidden">Google Plus</span></a>
		</li>
		{{ endif }}
	</ul>
</footer>