<div class="pagination-container constrain box box-push">
	{{# {{ if prev || next }}
		<nav class="pagination row">
			{{ if prev }}
				{{ get_content from ="{prev}" }}
					<a class="paginator paginator-prev" href="{{ url }}">&laquo; {{ title }}</a>
				{{ /get_content }}
			{{ endif }}
			{{ if next }}
				{{ get_content from ="{next}" }}
					<a class="paginator paginator-next" href="{{ url }}">{{ title }} &raquo;</a>
				{{ /get_content }}
			{{ endif }}
		</nav>
	{{ endif }} #}}

	{{ if !is_dev }}
		{{ disqus:comments account="{ disqus_account }" }}
	{{ endif }}
</div>