*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	background: url($background-texture) $background-colour repeat;
	font-family: "Quattrocento Sans", sans-serif;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.45em;
	margin: 0;
	padding: 0;
	@include bp(smallest) {
		font-size: 110%;
	}
	@include bp(medium) {
		font-size: 115%;
	}
	@include bp(biggest) {
		font-size: 120%;
	}
}

html {

}

body {

}

h1, h2, h3, h4, h5, h6, p {
	&:last-child {
		margin-bottom: 0;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: "Franchise", sans-serif;
	font-weight: 900;
	line-height: 1em;
	a {
		display: block;
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 6.854em;
	margin: 0 auto 0.1em;
}

h2, .h2 {
	font-size: 4.236em;
	margin: 0 auto 0.3em;
}

h3, .h3 {
	font-size: 2.618em;
	margin: 0 auto 0.4em;
}

h4, .h4 {
	font-size: 1.618em;
	margin: 0 auto 0.6em;
}

h5, .h5 {
	font-size: 1em;
	margin: 0 auto 1em;
}

h6, .h6 {
	font-size: 1em;
	margin: 0 auto 1em;
}

p {
	margin: 0 auto 1em;
}

a {
	color: $colour-base;
	&:hover, &:focus {
		color: $colour-base-alt2;
	}
	&.link-invert {
		color: $background-colour;
		&:hover, &:focus {
			color: $background-colour-alt;
		}
	}
}

strong, b {
	font-weight: 700;
}

img {
	display: block;
	height: auto !important;
	max-width: 100%;
}

hr {
	background: lighten($colour-base, 50%);
	border: 0px solid transparent;
	display: block;
	height: 1px;
	margin: 1.5em;
	padding: 0;
	// @include bp(smallest) {
	// 	margin: 2em;
	// }
	// @include bp(medium) {
	// 	margin: 2.5em;
	// }
	// @include bp(biggest) {
	// 	margin: 3em;
	// }
}