// Backgrounds
$background-texture: "../img/kindajean.png";
$background-colour: white;
$background-colour-alt: darken($background-colour, 10%);

// Colours
$colour-base: #6285CC;
$colour-base: darken($colour-base, 20%);
$colour-base-alt: darken($colour-base, 10%);
$colour-base-alt2: darken($colour-base, 20%);

// Font Colours
$font-colour: white;
$link-colour: white;

// Spacing
$row-gutter: 9;