/* line 5, ../scss/maintenance.scss */
html, body {
  display: table;
  height: 100%;
  width: 100%; }

/* line 11, ../scss/maintenance.scss */
body {
  padding: 1em; }
  @media (min-width: 37.5em) {
    /* line 11, ../scss/maintenance.scss */
    body {
      padding: 3em; } }
  @media (min-width: 56.25em) {
    /* line 11, ../scss/maintenance.scss */
    body {
      padding: 4em; } }
  @media (min-width: 75em) {
    /* line 11, ../scss/maintenance.scss */
    body {
      padding: 4.5em; } }

/* line 24, ../scss/maintenance.scss */
.maintenance-container {
  background: white;
  color: #315397;
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

/* line 32, ../scss/maintenance.scss */
.maintenance-image {
  height: auto !important;
  margin: 0 auto;
  width: auto;
  max-width: 100%; }

/* line 39, ../scss/maintenance.scss */
.maintenance-title {
  text-indent: -1.2em; }
