.blog-list {
	
}

.blog-post {

}

.blog-aside {
	// padding: 1.5em;
	// @include bp(smallest) {
	// 	padding: 1em;
	// }
}

.pagination {
	.paginator {
		@extend .button;
		display: block;
		float: left;
		padding: 1em;
		width: 49%;
		text-align: center;
		&.paginator-prev {

		}
		&.paginator-next {
			float: right;
		}
	}
}

.blog-post-featured {
	background-repeat: no-repeat;
	background-size: cover;
}

.article-content {
	.video-container {
		margin-bottom: 1em;
	}
}