.button {
	background-color: $colour-base;
	@include border-radius(0.5em);
	@include box-shadow(0 0.5em 0 0 $colour-base-alt);
	color: $background-colour;
	display: inline-block;
	list-style: none;
	margin-bottom: 0.5em;
	padding: 0.75em 1em;
	text-align: center;
	text-decoration: none;
	&:hover, &:focus {
		background-color: $colour-base-alt;
		@include box-shadow(0 0.5em 0 0 $colour-base-alt2);
		color: $background-colour;
	}
}