ul {
	&.unstyled {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0;
		padding: 0;
	}
}

.list-inline {
	li {
		display: inline;
	}
}

.navigation-list {
	display: block;
	list-style: none;
	margin: 0 auto;
	.navigation-item {
		display: inline-block;
		margin: 0 1.5em 0 0;
		&:last-child {
			margin-right: 0;
		}
	}
}

.list-article {
	.list-item {
		margin: 0 auto 3em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.list-tags {
	list-style: none;
	margin: 1em auto;
	padding: 0;
	li {
		display: inline-block;
	}
	a {
		color: $background-colour;
		text-decoration: none;
	}
	.tag {
		background: $colour-base;
		color: $background-colour;
		display: inline-block;
		margin: 0 0.5em 0 0;
		padding: 0.5em 0.75em;
		&:last-child {
			margin-right: 0;
		}
	}
}

.list-social {
	text-align: center;
	.social-item {
		display: inline-block;
		margin: 0 1em 0 0;
		&:last-child {
			margin-right: 0;
		}
	}
	.social-link {
		display: inline-block;
		text-decoration: none;
	}
}

.list-work {
	display: block;
	margin: 0;
	padding: 0;
	a {
		text-decoration: none;
	}
	.work-item {
		display: block;
		border: 1em solid transparent;
		overflow: hidden;
		position: relative;
		width: 100%;
		@include bp(medium) {
			background-color: $colour-base;
			border: none;
			float: left;
			width: 50%;
			&:hover, &:focus {
				.work-image {
					@include transform(scale(0.6) translateY(-2em));
				}
			}
		}
		@include bp(biggest) {
			width: (100% / 3);
		}
		.work-title {
			background-color: $colour-base;
			color: $background-colour;
			bottom: 0;
			display: block;
			font-family: "Quattrocento Sans", sans-serif;
			font-weight: 400;
			left: 0;
			margin: 0;
			padding: 0.5em;
			position: absolute;
			text-align: center;
			width: 100%;
			@include bp(medium) {
				z-index: 0;
			}
		}
		.work-image {
			@extend .image-fill;
			@include bp(medium) {
				@include transition(all 0.2s ease);
				position: relative;
				z-index: 1;
			}
		}
	}
}