.constrain {
	display: block;
	margin: 0 auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	@include bp(smallest) {
		max-width: 90%;
		padding-left: 0;
		padding-right: 0;
	}
	@include bp(medium) {
		max-width: 90%;
	}
	@include bp(biggest) {
		max-width: 80%;
	}
}

.constrain-content {
	@include bp(smallest) {
		max-width: 35em;
	}
	@include bp(medium) {
		max-width: 35em;
	}
	@include bp(biggest) {
		max-width: 40em;
	}
}

.row {
	position: relative;
	zoom: 1;
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

.row-reverse {
	[class*="span-"] {
		@include bp(smallest) {
			float: right;
		}
	}
}

.row-normal {

}

[class*="span-"] {
	display: block;
	margin-bottom: 1em;
	&:last-child {
		margin-bottom: 0;
	}
	@include bp(smallest) {
		float: left;
		margin-bottom: 0;
	}
}

.span-layered {
	position: absolute;
	top: 0;
}

.span-layered-left {
	left: 0;
}

.span-layered-right {
	right: 0;
}

$span-margin: 0% + ($row-gutter/3);
$span-width: 100% / 3;

.span-1-3 {
	@include bp(smallest) {
		width: $span-width * 1;
		&.gutter {
			margin-right: $span-margin;
			width: ($span-width * 1) - $span-margin;
		}
	}
}

.span-2-3 {
	@include bp(smallest) {
		width: $span-width * 2;
		&.gutter {
			margin-right: $span-margin;
			width: ($span-width * 2) - $span-margin;
		}
	}
}

.span-3-3 {
	width: 100%;
}

.image-fill {
	display: block;
	height: auto !important;
	width: 100%;
}

.image-frame {
	border: 0.5em solid $colour-base;
}

.box {
	background-color: $background-colour;
	> *:last-child {
		margin-bottom: 0;
	}
}

.box-padded {
	padding: 1em;
	@include bp(smallest) {
		padding: 1.5em;
	}
	@include bp(medium) {
		padding: 2em;
	}
	@include bp(biggest) {
		padding: 3em;
	}
}

.box-push {
	margin: 1em auto;
	@include bp(smallest) {
		margin: 1.5em auto;
	}
	@include bp(medium) {
		margin: 2em auto;
	}
	@include bp(biggest) {
		margin: 3em auto;
	}
}

.box-push-down {
	margin-bottom: 1em;
	@include bp(smallest) {
		margin-bottom: 1.5em;
	}
	@include bp(medium) {
		margin-bottom: 2em;
	}
	@include bp(biggest) {
		margin-bottom: 3em;
	}
}

.box-aside {
	
}

.align-center {
	text-align: center;
}