.page-header {
	margin: 0;
	padding: 0;
}

.section-header {
	color: $colour-base;
	display: block;
	font-size: 6em;
	letter-spacing: -0.075em;
	line-height: 0.5em;
	margin: 0;
	padding: 0.25em 0 0;
	text-indent: -0.05em;
	@include bp(smallest) {
		font-size: 7em;
	}
	@include bp(medium) {
		font-size: 8em;
	}
	&.breaker {
		border: 0 solid $colour-base;
		border-bottom-width: 0.25em;
	}
}

.page-title {
	background: transparent no-repeat center top;
	background-size: cover;
	@extend .section-header;
	overflow: hidden;
	padding-top: 1em;
	text-shadow: 2px 2px $background-colour;
}

.header-caption {
	background: $colour-base;
	color: $font-colour;
	display: block;
	line-height: 1em;
	margin: 0;
	padding: 1em 0;
	+ .page-navigation {
		border-top-width: 0;
	}
}

.page-navigation {
	background: $background-colour;
	border: 0px solid $colour-base;
	border-bottom-width: 0.5em;
	border-top-width: 0.5em;
	a {
		border: 0 solid transparent;
		border-bottom-width: 0.5em;
		display: inline-block;
		padding: 1em 0 0.5em 0;
		text-decoration: none;
		&:hover, &:focus {
			border-bottom-color: $colour-base;
		}
		&.current {
			border-bottom-color: $colour-base;	
		}
	}
}

.page-body {

}

.body-section {
	padding: 1em;
	@include bp(smallest) {
		padding: 1.5em 0;
	}
	@include bp(medium) {
		padding: 2em 0;
	}
	@include bp(biggest) {
		padding: 2.5em 0;
	}
}

.content-main {
	background: $background-colour;
}

.page-footer {
	background: $colour-base;
	color: $background-colour;
	text-align: center;
}