/*------------------------------------*\
  PDCTO - Positioning, Display & Box
	Model, Color, Text, Other
\*------------------------------------*/

/*------------------------------------*\
  Variables
\*------------------------------------*/

$apricot-white: #FFFFEC;
$robins-egg-blue: #00C1DA;
$mariner: #2566C7;

$colour-primary: $mariner;
$colour-secondary: $robins-egg-blue;
$colour-tertiary: $apricot-white;

$colour-font: $apricot-white;
$colour-bg: $robins-egg-blue;
$colour-bg-two: $mariner;
$colour-link: saturate(invert($colour-primary), 100%);
$colour-link-hover: lighten($colour-link, 20%);

$colour-bg-invert: $colour-font;
$colour-font-invert: lighten(black, 35%);


$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

/*------------------------------------*\
  Mixins and Placeholders
\*------------------------------------*/

@mixin bp($point) {
	@if $point == baby-bear {
		@media (min-width: 30rem) { @content; }
	}
	@else if $point == mama-bear {
		@media (min-width: 37.5rem) { @content; }
	}
	@else if $point == papa-bear {
		@media (min-width: 56.25rem) { @content; }
	}
	@else if $point == grizzly-bear {
		@media (min-width: 75rem)  { @content; }
	}
}

/*------------------------------------*\
  Animations
\*------------------------------------*/

.js {

  .wow {
    visibility: hidden;
  }

	.wow-wait-lazy-load {
		animation-play-state: paused;
	}
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate-fade-in {
	animation-name: fade-in;
	animation-timing-function: $easeOutQuint;
}

/*------------------------------------*\
  Code
\*------------------------------------*/

/**
 * Base
 **/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
}

html {
  margin: 0;
  padding: 0;

	background: $colour-bg;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, $colour-bg-two, $colour-bg);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, $colour-bg-two, $colour-bg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: $colour-font;

	font-family: 'Lato', sans-serif;
	font-size: 100%;
	line-height: 1.45;

	@include bp("baby-bear") {
		font-size: 120%;
	}

	@include bp("mama-bear") {
		font-size: 140%;
	}
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 0;

  & + & {
    margin-top: 1rem;
  }
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 {
  font-size: 2.441em;
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
}

p {

}

small {
	font-size: 0.8em;
}

ul,
ol {
	text-align: left;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: $colour-link;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $colour-link-hover;
	}
}

/**
 * Konami Code
 **/


/**
 * Header
 **/


/**
 * Content
 **/

.page-main {

}

.page-section {
	position: relative;

	display: block;
	padding: 2em (2em * 0.9);

	@include bp("baby-bear") {
		padding: 3em (3em * 0.9);
	}

	@include bp("mama-bear") {
		padding: 3.5em (3.5em * 0.9);
	}

	&--bg-inverted {
		background-color: $colour-bg-invert;
		color: $colour-font-invert;
	}
}

.constrain {
	display: block;
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
}
