<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {{# Meta Data #}}
        {{ theme:partial src="meta-data" }}
        
        {{# Stylesheets #}}
        {{# http://www.google.com/fonts#UsePlace:use/Collection:Asap:400,700,400italic,700italic|Karla:400,400italic,700,700italic|Quattrocento+Sans:400,400italic,700,700italic #}}
        <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ theme:css }}" />
    </head>
    <body>
        {{ if maintenance_mode && !logged_in }}
            {{ theme:partial src="maintenance" }}
        {{ else }}
            {{ theme:partial src="page-header" }}

            <div class="page-body">
                {{ layout_content }}
            </div>

            {{ theme:partial src="page-footer" }}

            {{# Scripts #}}

            {{# <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
            <script src="js/plugins.js"></script>
            <script src="js/main.js"></script> #}}

            {{# Google Analytics: change UA-XXXXX-X to be your site's ID. #}}
            {{ if !is_dev }}
            <script>
                (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                ga('create','{{ google_analytics }}');ga('send','pageview');
            </script>
            {{ endif }}

            {{# Including maps if needed #}}
            {{ if include_maps }}
                {{ location:start_maps }}
            {{ endif }}
        {{ endif }}
    </body>
</html>