<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {{# Meta Data #}}
        {{ theme:partial src="meta-data" }}
        
        {{# Stylesheets #}}
        {{ if css_file }}
            <link rel="stylesheet" href="{{ css_file }}" />
        {{ endif }}
    </head>
    <body>
        {{ if maintenance_mode && !logged_in }}
            {{ theme:partial src="maintenance" }}
        {{ else }}
            {{ layout_content }}

            {{# Scripts #}}

            {{ if js_file }}
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                <script>window.jQuery || document.write('<script src="{{ theme:js src="vendor/jquery-1.10.2.min.js" }}"><\/script>')</script>
                <script src="{{ js_file }}"></script>
            {{ endif }}

            {{# Google Analytics: change UA-XXXXX-X to be your site's ID. #}}
            {{ if !is_dev }}
            <script>
                (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                ga('create','{{ google_analytics }}');ga('send','pageview');
            </script>
            {{ endif }}
        {{ endif }}
    </body>
</html>