<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    {# Favicons #}
    {% favicons 'favicon.svg' %}

    <link rel="stylesheet" href="{{ '/css/tailwind.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer class="px-5 md:px-10 lg:px-14 py-9 md:py-14 lg:py-16 text-center">
      <ul class="text-lg md:text-xl lg:text-2xl text-phthalo-green font-semibold">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="m-2 md:m-3 lg:m-4 {% if entry.url == page.url %} text-metallic-gold{% endif %}">
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </footer>
  </body>
</html>
